.section.has-background-light
  .container
    - @notifications.each do |notification|
      .box
        %h1.title
          = notification.title
        %p.subtitle.has-text-grey
          = notification.created_at.strftime('%B %e, %H:%M')
        %p
          = notification.description

        %br
        = link_to 'Read More', notification_path(notification), class: 'button'

