.no-results
  .columns
    .column
    .column.is-narrow
      %span.icon.has-text-info
        %i.fa.fa-lg.fa-exclamation-circle
    .column.is-narrow.has-text-weight-bold
      %p No results matched your search.
      %p Please try again.
    .column