%section.hero.is-bold.is-info
  .hero-body
    .container
      %h1.title
        Subscriptions
      %h2.subtitle
        Choose your subscription level

.section.has-background-light
  .container
    .columns
      - @subscriptions.each do |subscription|
        .column
          .card.subscription-card
            .card-content
              %h3.title
                = subscription.tier
                %span.icon.has-text-warning
                  %i.fa{ class: subscription_star_icon(subscription) }

              %hr

              - subscription_features(subscription).each do |feature|
                %p
                  %span
                    = feature
                  %span.icon.has-text-success
                    %i.fa.fa-check

              %hr

              %p
                %span.title.is-4
                  = display_price(subscription.price)
                %span.has-text-grey / month
