%h1 Listing subscriptions

%table
  %thead
    %tr
      %th Tier
      %th Price
      %th

  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.tier
        %td= subscription.price
        %td= link_to 'Show', subscription

%br

