= search_form_for @q, local:true do |f|
  .columns
    .column.is-narrow
      .field
        .control
          = f.text_field :title_or_description_or_tutor_cont,
            class: 'input',
            placeholder: 'Search',
            data: { reflex: 'input' }
    .column.is-narrow
      .field
        .control
          .select
            = f.select :subscription_tier_eq, Subscription.all.map(&:tier), { include_blank: 'Tier: all' },
              data: { reflex: 'change' }
    .column
      .buttons
        = link_to 'Clear', request.path, class: 'button'
