#modals

%section.hero.is-info.is-bold
  .hero-body
    .container
      %h1.title
        Courses
      %h2.subtitle
        Find courses and seminars

.course-filters
  .container
    = render 'filters'

.courses.has-background-light
  .container
    = render 'courses'
