.level.title-bar
  .level-left
    .level-item
      %h1.title.is-4 Listing courses
  .level-right
    .level-item
      = link_to new_admin_course_path, class: 'button is-success is-outlined' do
        %span.icon
          %i.fa.fa-plus
        %span New Course


= render 'filters'

= render 'table'

= render partial: 'shared/pagination', locals: { pagy: @pagy } if @pagy.pages > 1

